<%- include('./includes/header') %>

    <body>

        <%- include('./includes/navigation') %>

            <div class="formDiv">
                <h1>Login Accout</h1>
                <form action="/auth/login" method="POST">
                    Email
                    <br />
                    <input type="email" name="email" />
                    <br />
                    <br /> Password
                    <br />
                    <input type="password" name="password" />
                    <br />
                    <br />
                    <button type="submit" id="loginButton">Login</button>
                </form>
            </div>
            <%- include('./includes/footer') %>
    </body>